.lottoList {
    width:100%;
    max-width:800px;
    border:0;
    border-spacing:0;
    border-top:2px solid #333;

    th {
        background:#f9f9f9;
        font-weight:bold;
        border-bottom:1px solid #ccc;
        border-left:1px solid #ccc;
        text-align: center;
        padding:10px;

        &:first-of-type {
            border-left:0;
        }
    }

    td {
        border-bottom:1px solid #ccc;
        border-left:1px solid #ccc;
        text-align: center;
        padding:10px;

        &:first-of-type {
            border-left:0;
        }
    }
}
